.callexpert {
    background-color: $light-gray;
    border:1px solid $medium-gray;
    padding:10% 10%;

    .button {
      max-width: 15rem;
      margin:2rem auto 0 auto;
    }
}
.callexpert__title {
  font-size: 1.25rem;
  text-transform: uppercase;
  max-width: 15rem;
  margin:0 auto 1em;
  // font-family: $body-font-family;
  // font-weight: $global-weight-normal;

}

