.hentry {
  &.service {

  }
}
.hentry__meta {
  margin-bottom: 0;
}
.hentry__title {
  font-size: 1.125rem;
  margin:0 0 .25em;
  a {
    color:inherit;
  }
  @include breakpoint(medium) {
    font-size: 1.25rem;
  }
  @include breakpoint(xlarge) {
    font-size: 1.5rem;
    //max-width: 25em;
  }
}

.hentry__summary {
  font-size: .875rem;

  @include breakpoint(xlarge) {
    font-size: 1rem;
  }
}

