.hero {
  padding-top:4rem;
  padding-bottom: 3rem;
  color:#fff;
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../images/homeheader.jpg);
  @include breakpoint(large) {
    padding-top:14vw;
    padding-bottom: 9vw;
  }
  @include breakpoint(xlarge) {
    margin-top: -5.25rem;
  }
}


.hero__content {
  @include grid-column-row();
  max-width:65rem;
  margin:0 auto;
  text-align: center;
  //background-color: red;
  text-shadow:0 0 3px rgba(#000,.5);
}

.hero__logo {
  width:4rem;
  margin-bottom: 1rem;
  @include breakpoint(tablet) {
    width:4.5rem;
    //margin-bottom: 2rem;
  }
  @include breakpoint(xxlarge) {
    width:6rem;
    margin-bottom: 1.5rem;
  }
}
.hero__title {
  font-size: 1.875rem;
  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  @include breakpoint(tablet) {
    font-size: 2.75rem;
  }
  @include breakpoint(xxlarge) {
    font-size: 4rem;
  }
}
.hero__lead {
  font-size: .875rem;
  @include breakpoint(tablet) {
    font-size: 1rem;
  }
  @include breakpoint(xxlarge) {
    font-size: 1.5rem;
  }
}
.hero__actions {
  margin-top: 2.5rem;
}

.hero__action {
  color:inherit;
  line-height: 1;
  // display: inline-block;
  // padding:.5em 1em;
  // border:1px solid currentColor;
  font-size: .75rem;
  //font-style: italic;
  &:hover, &:focus {
    color:inherit;
  }
  @include breakpoint(xxlarge) {
    font-size: 1rem;
  }
}


.hero--bigcontent {
  background-image: url(../images/contactformbg.jpg);
  //background-image: none;
  //background-color: $dark-gray;
  .hero__content {
    max-width:46rem;
    //background-color: rgba(#000,.5);
    h1 {
      font-family: $body-font-family;
      font-weight: $global-weight-normal;
      text-transform: uppercase;
      line-height: 1.2;
      font-size: 3rem;
      font-size: calc(2rem + 2vw);
      margin:0 0 .5em;
      em {
        display: block;
        font-style: normal;
        font-size: 56.666%;
        //color:get-color(primary);
      }
    }
    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
    .abide-formerror {
      font-size: .875rem;
      border:1px solid $input-error-color;
      padding:.75em;
      color: $input-error-color;
      text-align:center;
      //max-width: 25em;
      margin:0 auto 2rem;
    }
    form {
      text-align: left;
      text-shadow:none;
    }
    label {
      //color:inherit;
    }

  }
}
