.membercard {
  margin-bottom: $paragraph-margin-bottom;
}
.membercard--theonly {
  max-width: 13rem;
  margin:0 auto;
}
.membercard__fig {
  margin:0 0 .5rem;
}
.membercard__name {
  font-size: 1rem;
  text-transform: uppercase;
  margin:0 0 .25rem;
}
.membercard__prof {
  font-style: italic;
}

.membercard__contact {
  font-size: .875rem;
  a {
    color:inherit;
    //text-decoration: underline;
  }
}