.menu--main {
  text-transform: uppercase;
  font-family: $header-font-family;
  float:right;
  clear:right;
  margin:0 0 .5rem;
  > li {
    > a {
      color:inherit;
      position: relative;
      &:before {
          font-weight: $global-weight-bold;
          content:'. ';
          color:transparent;
      }
      &:hover, &:focus {
        text-decoration: none;
          &:before {
            color:inherit;
          }
      }
    }
  }
  .active {

    > a {
        font-weight: $global-weight-bold;
        &:before {
            color:inherit;
        }
    }
  }
}

.menu--sec {
  margin:0 .875rem .5rem;
  //padding:0 .25rem;
  //text-transform: capitalize;
  font-family: $header-font-family;
  font-size: .875rem;
  float: right;
  background-color: $dark-gray;
  color:$medium-gray;
  font-weight: $global-weight-semibold;
  border-left: 3rem solid $medium-gray;
  > li {
    border-left: 1px solid $medium-gray;
    > a {
      color:inherit;
      position: relative;
      padding:.5rem .75rem;
    }
  }
  .active {

    > a {
        // background-color: $medium-gray;
        // color:$body-font-color;
        //color:#fff;
    }
  }
}

.servicenav {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    border-bottom: 1px solid $light-gray;

    @include breakpoint(large) {
      padding:1rem 12.5%;
      //width:75.666%;
      border-bottom: none;
    }

  }
}
.scrollmenu {
  font-family: $header-font-family;
  margin:0 auto;
  padding:0 0;
  list-style-type: none;
  white-space: nowrap;
  //font-weight: $global-weight-bold;
  line-height: 1;
  font-size: .875rem;
  text-transform: capitalize;

  @include breakpoint(large) {
    white-space: normal;
    text-align: center;
  }

  > li {
    margin:0;
    padding:0;
    display:inline-block;
    > a {
      color: inherit;
      display: block;
      padding: 1.25em rem-calc(map-get($grid-column-gutter,small)/2);

      &:hover {
        //color: $black;
      }
      &.active {
        color:$alert-color;
      }

      @include breakpoint(medium) {
        padding: 1.25em rem-calc(map-get($grid-column-gutter,medium)/2);
      }

      @include breakpoint(large) {
        padding: .875em rem-calc(map-get($grid-column-gutter,large)/4) .875em rem-calc(map-get($grid-column-gutter,large)/4);
      }



    }
  }
  .active {

    > a {
        //font-weight: $global-weight-semibold;
        text-shadow:0 0 .125px currentColor;
    }
  }
  // @include breakpoint(large) {
  //   font-size: 1rem;
  // }

}


.menu--mobile {
  font-family: $header-font-family;
  text-transform: uppercase;
  font-weight: $global-weight-semibold;
  margin-bottom: 2rem;
  font-size: 1.125rem;
  > li {
    > a {
        color:inherit;
        padding:.666em 0;
        &:hover, &:focus {
          text-decoration: none;
          color:#fff;
        }
    }
  }
  .active {
    > a {
        &:before {
          content:'. ';
            color:inherit;
        }
    }
  }
}