// .specicol {
//   position: relative;
//   z-index: 1;
//   background-color: $primary-color;
//   &:before {
//     z-index: 0;
//     display: block;
//     position: absolute;
//     content: '';
//     background-color: inherit;
//     height:100%;
//     width:50vw;
//     top:0;
//     left:0;
//   }
//   &:nth-child(odd) {
//     background-color: $dark-gray;
//     &:before {
//       left:auto;
//       right:0;
//     }
//   }
// }
.specicard {
  //color:#fff;
  text-shadow: 0 0 .125em rgba(#000,.125);
  position: relative;
  z-index: 2;
  margin-bottom: 3.5rem;
  padding:3rem 2rem 5rem;

  background-color: inherit;
  color:$white;
  padding:3rem 2rem 5rem;

  @include breakpoint(medium) {
    padding:3rem 2rem 5rem;
  }

  @include breakpoint(large) {
    padding:3rem 2rem 5rem;
  }

  @include breakpoint(xlarge) {
    padding:3rem 2rem 5rem;
  }

  a {
    color:inherit;
  }
  .homespecs .column & {
    @include breakpoint(xlarge) {
        //margin-right: map-get($grid-column-gutter,large)/4;
    }
  }
  .homespecs .column:last-child() & {
    @include breakpoint(xlarge) {
        //margin-right:0;
    }
  }
}
.specicard__title {
  //line-height: 1.2;
  margin-bottom: 1em;
  @include breakpoint(xlarge) {
    //font-size: 1.5rem;
  }
  a {
    &:after {
      content:'.';
    }
  }
}
.specicard__summary {
  //font-size: .875rem;
  //display: none;
}
.specicard__list {
  display: none;
  //font-size: 1rem;
  font-weight: $global-weight-semibold;
  font-family: $header-font-family;
  list-style: none;
  margin:0 0 1rem;
  padding:0;
  > li {
    display: inline;
    //white-space: nowrap;
    &:not(:last-child):after {
      content:' · ';
    }
  }
}

.specicard__action {
  position: absolute;
  bottom:2.5rem;
  font-size: .875rem;
  display: inline-block;
  font-family: $header-font-family;
  font-weight: $global-weight-semibold;
}