.content {
  * + {
    h1,h2,h3,h4,h5,h6 {
      margin-top: 1em;
    }
  }


  li:not(:last-child) {
    margin-bottom: $paragraph-margin-bottom/2;
  }
}

h1,h2,h3,h4,h5,h6 {
  em {
    font-family: $body-font-family;
    font-weight: $global-weight-normal;
    font-size: .75em;
  }
}

.button {
  //font-weight: $global-weight-semibold;
  font-family: $body-font-family;
  text-transform: uppercase;
  &:hover,&:focus {
      text-decoration: none;
  }
}
input, textarea {
    // Placeholder text
    &::placeholder {
      transition: color 0.25s;
    }
    &:focus::placeholder {
      color: transparent;
    }
}
.is-invalid-input:not(:focus) {
  background-color: $white;
  border-color:$input-error-color;
}

.smartlabel .form-error {
  position: absolute;
  bottom:$form-spacing;
  right: $form-spacing/2;
  transform:translateY(50%);
  margin:0;
  padding:0;
  line-height: 1;
}

.smartlabel {
  position: relative;
  //overflow: hidden;

}

.smartlabel__text {
  position: absolute;
  bottom:$form-spacing;
  right: $form-spacing;
  transform:translateY(50%);
  display: inline-block;
  font-size: .75rem;
  line-height: 1;
  padding: 0 $form-spacing/2;
  transition: all .125s ease-out;
  color:transparent;

  *:focus + & {
    color: inherit;
    right:0;
  }
  .is-invalid-input:focus + & {
    right: $form-spacing;
    color:transparent;
  }

}



.indentedtitle {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: .75em;
  // &:before {
  //   content:'/// '
  // }
}
a {
  text-decoration-skip: ink;
}

blockquote {
  font-size: $lead-font-size;
  line-height: $lead-lineheight;
  font-style: italic;
}
cite {
  font-size: .875em;
  a {
    color:inherit;
  }
}

.cite__name {
  font-size: 1.125em;
  display: block;
  font-family: $header-font-family;
  font-style: normal;
  font-weight: $global-weight-semibold;
}

.cite__role {

}
.cite__company {
  &:before {
    content:' / ';
  }
}

dl {
  > dt {
    font-family: $header-font-family;
    text-transform: uppercase;
  }
  > dd {
    margin-bottom: 1em;
  }
}

dl.metadef {
  > dt {
    font-size: .75rem;
  }
  > dd {
    font-size: .875rem;
  }
}

.readmore {
    display: inline-block;
    text-transform: uppercase;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: .666em;
    color: $white;
    background-color: $dark-gray;
    padding: .5em .875em;
    line-height:1.125;
    &:before {
        content: '\00bb'+' ';
    }
    &:hover,&:focus {
        text-decoration: none;
        color: $white;
        background-color: $black;
    }
}