.hometopsec {
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../images/homeheader.jpg);
  margin-top: -5.25rem;
}