.thepost__aside {
  width:100%;
  position: relative;
  //background-color: red;
  @include breakpoint('large') {
    text-align: right;

    dl.metadef {
      position: absolute;
      right: - map-get($grid-column-gutter,large)/2;
      top:.25rem;
    }
  }
}



dl.metadef {
  > dt {
    font-size: .75rem;
  }
  > dd {
    font-size: .875rem;
  }
}

.thepost__lead {
  font-size: 1.125rem;
  font-weight: $global-weight-bold;
  line-height: $lead-lineheight;
  margin-bottom: $paragraph-margin-bottom;
  @include breakpoint(tablet) {
      font-size: 1.125rem;
  }
}

.thepost__title {
  margin-bottom: $paragraph-margin-bottom*1.5;
}
.thepost_featimage {
  margin-bottom: $paragraph-margin-bottom*2;
  margin-top: $paragraph-margin-bottom;
}

.thepost__promoposts {
  border-top: 1px solid $medium-gray;
}