.banner {
  position: relative;
  > .container {
    background: $body-background;
  }
}

.banner__brand {
  float:left;
  margin:1.333rem 0 1.5rem;
  display: block;
  overflow: hidden;
  width: 10rem;
  height: 2.25rem;
  //background-color: red;
  white-space: nowrap;
  text-indent: 200%;
  background-image: url(../images/logoairon.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: auto 100%;
}

.banner__nav {
  @include clearfix();
  float:right;
}