.container {
  margin:0 auto;
  @include breakpoint(xlarge) {
    width:95%;
    max-width: $global-width*0.95;
  }
}


.wrapper {
  margin:0 auto;
  @include breakpoint(xlarge) {
    width:80%;
    max-width: $global-width*0.8;
  }
}

.wrapper--narrow {
  // @include breakpoint(tablet) {
  //   width:80%;
  //   max-width: $global-width*0.8;
  // }
  @include breakpoint(tablet) {
    width:60%;
    max-width: $global-width*0.6;
  }
}