.container {
  margin:0 auto;
  @include breakpoint(xlarge) {
    width:95%;
    max-width: $global-width*0.95;
  }
}
.container--hasbg {
  background-color: $body-background;
}

.covered {
  background-color: $body-background;
}

.wrapper {
  margin:0 auto;
  @include breakpoint(xlarge) {
    width:80%;
    max-width: $global-width*0.8;
    .container & {
      width:84.21%;
    }
  }

}

.wrapper--narrow {
  // @include breakpoint(tablet) {
  //   width:80%;
  //   max-width: $global-width*0.8;
  // }
  @include breakpoint(tablet) {
    width:60%;
    max-width: $global-width*0.6;
    .container & {
      width:63.158%;
    }
  }
}
