.sitefooter {
 font-size:.875rem;
 text-align: center;
  font-family: $header-font-family;
  p {
    margin:0;
  }
}
.sitefooter__top {

  padding-top:6rem;
  padding-bottom: 1rem;

  background-color: $dark-gray;
  color:#fff;
  //text-align: center;
  a {
    color:$alert-color;
  }
}

.sitefooter__bottom {
  padding-top:1rem;
  padding-bottom: 1rem;
  //text-align: center;
}

.footerlogo {
  width: 5rem;
  margin-bottom:2rem;
}
.footer__specilist {
  font-size: 1rem;
  font-weight: $global-weight-semibold;
  list-style:none;
  margin:0 0 1rem;
  padding:0;
  > li {
    display: inline-block;
    white-space: nowrap;
    margin:0 .333em;
    > a {
      text-decoration: none;
      color:inherit;
      &:hover, &:focus {
        color:$alert-color;
      }
    }
  }
}