.pagehead {
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/blogheader.jpg);
  color:$white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  @include breakpoint(xlarge) {
    padding-top: 8rem;
    margin-top: -4.5rem;
  }
}

.pagehead__title {

}
.pagehead__logo {
  width:4rem;


}

