.pagehead {
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/blogheader.jpg);
  //background-attachment: fixed;
  color:$white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  @include breakpoint(xlarge) {
    padding-top: 8rem;
    margin-top: -5.25rem;
  }
}

.pagehead__title {
  font-size: 1.5rem;
  margin:.125em 0 0;
  @include breakpoint(xlarge) {
    font-size: 2rem;
  }
  a {
    color:inherit;
    &:hover,&:focus {
      text-decoration: none;
      color:$primary-color;
    }
  }
}
.pagehead__logo {
  width:2rem;
  @include breakpoint(xlarge) {
    width: 3rem;
  }
}

